.banner{
  color: white;
  object-fit: contain;
  height: 570px;
  padding-top: 70px;
}

.banner h1{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__content{
  position: absolute;
 padding: 130px 40px 10px;
}

.banner__buttons{
  /* padding: 5px; */
}

.banner__btn{
  background: #4141415e;
  border: none;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 22px;
}
.banner__btn:hover{
  background: #fff;
  color: #000000;
}
.banner__description{
  width: 50rem;
  font-size: 0.8rem;
  max-width: 350px;
  line-height: 1.3rem;
  margin-top: 5px;
  padding: 5px;
  height: 80px;
  letter-spacing: 0.2px;
}

.banner__fade{
 height: 36rem;
  background-image: linear-gradient(180deg, transparent,rgba(37, 37, 37, 0.507), rgb(17, 17, 17));
  z-index: -1;
}

/* media query for mobile view  */
@media all and (max-width:450px){
  .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
    /* color: black; */
    align-items: center;
  }

  .banner h1{
    font-size: 1.5rem;
    padding-bottom: 5px;
  }

  .banner__content{
    /* position: absolute; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding:0px 10px 0;
    margin: 0 auto;
  }

  .banner__description{
    margin: 0;
    width: 15rem;
    height: 95px;
  }
}